<% layout('/user/userTemp')%>

    <div class="d-flex flex-column ">
        <%- include('./flash') %>
        <h5 class="card-title">Welcome to Personal Budget, login to get started</h5>
    </div>
